.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

.tree-view-container{
    min-height: auto;
    width: 100%;
    max-width: 350px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.menu-item{
    display:flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: #fff;
}

.menu-list-container{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
}