.component-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 40px 20px;
}

hr {
  border: none;
  border-top: 1px solid #444;
  width: 100%;
  margin: 0 auto;
}

.full-width-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}

@media (max-width: 768px) {
  .component-container {
    padding: 20px 10px;
  }
}
