.centerContainer{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width: min(90vw, 600px);
    height: auto;
    aspect-ratio: 4 / 3;
}

.currentImage{
    width:100%;
    height:100%;
    box-shadow: 0px 0px 7px #666;
    border-radius:10px;
}

.currentImage:active,
.currentImage:focus {
  outline: none;
  filter: none;
}

.arrow{
    position:absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0px 0px 5px #555);

}

.arrowLeft{
    left:1rem;
}

.arrowRight{
    right:1rem;
}

.circleIndicators{
    position: absolute;
    bottom:1rem;
    display:flex;
}

.currentIndicator{
    width: 15px;
    height: 15px;
    background-color:#ffffff;
    border-radius:50%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor:pointer; 
}

.hideCurrentImage{
    display:none;
}

.inactiveCurrentIndicator{
    background-color:#888888;
}